@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
body{
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    background-color: white!important;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: none!important;
    content: " ";
}
.container{
    width: 90vw!important;
    margin: auto;
}

*{
    height: fit-content;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.navbar{
    background-color: white;
    z-index: 9;
    padding: 15px 10px;
    width: 100%;
    height: max-content;
    position: fixed!important;
    top: 0;
}
/* .scroll{
    background-color: white;
    width: 100vw;
    height: max-content;
    position: fixed!important;
    /* transition: all 5s; 

    top: 0;
} */
nav .navbar-nav{
    float: right;
    margin-left: auto;
    margin-right: 6%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
 
}
nav .navbar-nav .nav-link {
    color: #000000!important;
}
nav .navbar-brand img{
    width: 100px;
    margin-top: -10px;
}
nav .navbar-brand img{
    width: 100px;
    margin-top: -10px;
    color: transparent;
    /* text-shadow:1px 1px 5px rgb(211, 208, 208); */
    border-bottom: 2px solid whitesmoke;
    position: relative;
    font-size: 5rem;
    /* -webkit-text-stroke:.5px #fddfbe; */
  }
nav .sign-btn{
    font-size: 16px;
    color: white!important;
    background: #4F52FF;
    border-radius: 30px;
    opacity: 1;
    text-decoration: none;
    padding: 6px 23px;
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}
nav .sign-btn:hover{
    transition: all .3s;
    background: white;
    color: #4F52FF!important;
    border: 2px solid #4F52FF;
}
/* hero section  */
.hero{
    font-family: 'Poppins', sans-serif;
    height: max-content!important;
    min-height: 30vh;
    margin-bottom: 1rem;
   
}
.hrr{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(123 1000 750) scale(10) translate(-900 -675)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(123 1000 750) scale(10) translate(-900 -675)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(123 1000 750) scale(10) translate(-900 -675)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(123 1000 750) scale(10) translate(-900 -675)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(123 1000 750) scale(10) translate(-900 -675)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(123 1000 750) scale(10) translate(-900 -675)'%3E%3Cg fill='%23610fff'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(123 1000 750) scale(10) translate(-900 -675)'%3E%3Cg fill='%23610fff'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(123 1000 750) scale(10) translate(-900 -675)'%3E%3Cg fill='%23610fff'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    /* background-attachment: fixed; */
    background-size: cover;
}
.hero h1{
    margin-top: 34px;
    font-size: 56px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-weight: 500!important;
}
.hero p {
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(27, 27, 27);
    font-family: 'Poppins', sans-serif;

}
.hero .sign-btn{
    font-size: 16px;
    color: white;
    background: #4F52FF;
    border-radius: 30px;
    text-decoration: none;
    padding: 5px 30px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #4F52FF;

    border: 2px solid #4F52FF;

    font-weight: 400;
}
.hero .sign-btn2{
    font-size: 16px;
    color: #4F52FF;
    border:2px solid #4F52FF;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

    padding: 5px 33px;
    margin-left: 10px;
  
}
.hero .lkns{
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero .sign-btn:hover{
    transition:  .3s;
    background: white;
    color: #4F52FF!important;
    border: px solid #4F52FF;
}
.hero .sign-btn2:hover{
    transition:  .3s;
    color: white!important;
    background: #4F52FF!important;
    border: 2px solid #4F52FF;
}
.hero img{
    height: 400px;
    width: 500px;
}
.img-sec-sm{
    display: none;
}
/* cards */
.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: auto;
}
.cards-section{
    /* background: url(/kaffir/kaffir-frontend/kaffir/src/assets/img/Component\ 2\ –\ 1@2x.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px;
    width: 100vw;
    margin-top: 1rem;
    height: max-content;
    position: relative;
}
.cards-section img{
    width: 100%;
    position: absolute;
    top: -40px;
    left: -20px;
    z-index: -1;
}
.cards-section .img2{
    width: 100%;
    top: 5%;
    filter: saturate(2);
}
.cards-section .cards .icon-main{
    background: #4F52FF;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.cards-section .cards .icon-cont{
    border:2px solid #4F52FF;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}
.head-y h2{
    text-transform: capitalize;
}

.card-row{
    margin-top: 7rem;
}
.cards{
    background: url(img/Path\ 621@2x.png);
    min-width: 320px;
    min-height: 370px;
    height: max-content;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px lightgray;
    padding: 10px;
    padding-top: 2rem;
    margin: 5px auto;
    
}
.bb{
    /* background: url(/kaffir/kaffir-frontend/kaffir/src/assets/img/Group\ 80@2x.png)!important;    */
    background-position: center;
    background:#4F52FF;
    background-size: cover;
    color: #fff;
}
.bb h1{
    color: #fff!important;
}
.bb p{
    color: white!important;
}
.cards-section .cards .icon-bb-main{
    background: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.cards-section .cards .icon-bb{
    border:2px solid white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards h1{
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    margin: 1rem .5rem;
}
.cards p{
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: #707070;
    margin-top: 2rem;

}
.cards a{
    color: black;
    text-decoration: none;
    font-size: 16px;

}
.cards a i{
    color: #4F52FF;
}
.cards-section .col-md-4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem ;
}
.cards .done{
    background-color: #4F52FF;
    border-color: #4F52FF;
}

.grid-slide-inner{
    min-height: 200px;
    height: max-content;
    margin: 0;
}
.carousel{
    position: relative;
    margin-right:auto;
    height: max-content;
    padding: 1rem;
    margin-left: auto;
     /* height: 100vh;  */
}
.flickity-button-icon{
    cursor: pointer;
    color: #4F52FF;
    background: #d4e2ff;
    /* width: 200px; */
    border-radius: 50%;
    padding: 2px 5px;
}
.carousel-container{
    max-width: 1850px!important;
}
.feedback .flex-content{
    display: flex;
    align-items: center;
}
.grid-slide{
    height: max-content;
    min-height: 300px;
    width: 300px;
    margin: 20px;
}
.flickity-viewport{
    min-height: 500px!important;
    height: max-content;
}


.flickity-button {
    position: absolute;
    background: hsla(0,0%,100%,.75);
    border: none;
    color: #333;
    bottom: -12%!important;

}
.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
    display: none;
}
.flickity-prev-next-button {
    bottom: -50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transform: translateY(-50%);
    /* display: none */
}
.flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 20%;
    bottom: -50%;
    width: 60%;
    height: 60%;
}
.stb{
    width: 90px;
    margin-right: 20px;
} 
.modal{
    position: relative!important;
    top: 50%;
}



/* follow s */
.f-us ul{
    width: 57%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 65px;
    justify-content: space-around;
    text-decoration: none;
}
.f-us ul li{
    list-style: none;
    font-size: 35px;
    background: #4F52FF;
    background-position: center;
    width: 95px;
    height: 100px;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;

}
.f-us ul li:hover{
 transform: rotate(160deg)!important;
 transition: all .3s;
}
.f-us ul li:hover a{
    transform: rotate(-160deg);
    transition: all .5s;
   }
.f-us h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500!important;
    color: #4F52FF;

}
.f-us ul li a{
    color: white;
}
.f-us ul li i{
    font-size: 30px!important;
}

/*FAQ */
.faq{
    height: max-content;
    min-height: 50vh;
    background-color: #fff;
    /* background-color: antiquewhite; */
}
.faq h1{
    text-transform: capitalize;
    font-size: 24px;
    color: #000000;
    font-family: 'Poppins', sans-serif;

}
.faq .i-cont{
    padding: 11px 30px;
    /* background:url(img/Path\ 624.png); */
    background-color:#4F52FF ;

    color: #fff;
    background-position: center;
    background-size: cover;
}
.i-cont p {
    padding-left: 5px;
}
.ask-tab{
    box-shadow: 0px 0px 3px rgb(180 179 179);
    width: 100%;
    height: max-content;
    background: #fff;
    transition: .3s;
    margin-right: 0;
    margin: 9px 0px;

}
/* .ask-tab:{
    box-shadow: 0px 0px 5px rgb(180, 179, 179);

}
.ask-tab: i{
    transition: .5s;
    transform: rotate(40deg);
    box-shadow: 0px 0px 23px rgb(180, 179, 179);
    
} */
.faq p{


    border: #fff;
    background: #fff;
    margin-bottom: 0;
    /* white-space: nowrap; */
    padding: 9px 10px;
    color: black;
    font-size: 16px;

}
.faq .dropdown{
    justify-content: start;
    align-items: center;
}
.faq .accordion-body{
    font-size: 14px;
    padding: 1px 5px;
    border-top:1px solid lightgray ;
}
.faq .faq-img-sec{
    position: relative;
    background: url(img/Component\ 2\ –\ 1.png);
    background-position: center;
    background-size: contain;
    /* background-color:#4F52FF ; */
    background-repeat: no-repeat;
}
.faq .faq-img-sec .cy{
    position: absolute;
    bottom: -10%;
    left: 32%;
    width: 38%;
}
.faq .faq-img-sec .ast{
    position: absolute;
    top: 10%;
    left: 62.5%;
    transform: rotate(-27deg);
    width: 4%;
}

/* footer */

/*  */







@media only screen  and (max-width:1230px){
   
    .f-us ul {
        width: 52%;
   
    }
    @media only screen and (max-width:1100px){
        .cards{
            min-width: 250px;
            padding: initial 5px;
            min-height: 300px;
            max-height: 353px;
        }
        nav .sign-btn {
            margin-left: 0px!important;
        }
    }
@media only screen and (max-width:991px){
   
    .img-sec-sm{
        display: initial;
        padding: 10px!important;
    }
    .hero h1{
        font-size: 30px;
    }
    .hero p{
        font-size: 12px;
    }
    .f-us ul {
        width: 86%;
    }
    .faq p{
        font-size: 13px;
    }
    /* .faq-img-sec{
        display: none;
    } */
   
}
@media only screen and (max-width:991px){
    .img-sec{
        display: none;
    }
}
@media only screen and (max-width:789px){
    .cards p{
        font-size: 15px;
    }
    .img-sec{
        display: none;
    }
    .cards-section .col-md-4{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem ;
    }
    .containerr {
        width: 95vw!important;
        /* padding: 0!important; */
        margin: 2px;
    }
    /* nav .navbar-brand img{
        margin-left: 0;
    } */
}
@media screen and (max-width:767px) {
    .f-us-img{
        display: none;
    }
    .hero p, .hero h1{
        padding: 10px;
        margin-top: 0px;
        padding-left: 25px;
    }
    .hero{
        min-height: 30px;
    }
}



@media only screen and (max-width:400px){

    .img-sec{
        display: none;
    }
    .hero h1{
        font-size: 23px;
        margin-left:5px;
        margin-right:5px;
        
        /* text-align: center; */
    }
    .hero p{
        font-size: 12px;
        /* text-align: center; */
    }
  
}

@media only screen and (max-width:420px){
    .f-us ul {
        width: 100%;
    }
    .faq p{
        font-size: 14px;
    }
    .hero .lkns{
        margin: 20px auto;
        justify-content: center;
        /* text-align: center!important; */
        padding-left: 25px;
    }
}
@media only screen and (max-width:350px){
    .f-us ul {
        width: 100%;
    }
}}






/* footer */
.kff_cont{
    height:auto;
    width: 100%;
    background-color: #071F44;
    padding-top:24px;
}
.kff_cont .kff_content{
    height:auto;
    /* margin-top: 82px; */
    /* width: 80%; */
    margin: auto;
    width: 1200px;
    background-color: #071F44 ;
}
.kff_col_box{
    height:auto;
    
}
.kff_col_box h3{
    color: #fff;
    font-size:25px;
    font-family: sans-serif;
}
.kff_input{
    width: 76%!important;
    margin-right: 14px;
}
.kff_input::placeholder{
    color:#000;
    font-weight: 700;
    font-family: sans-serif;
}
.kff_butt_p{
    font-size: 13px;
    margin-bottom: 0;
}
.kff_btn{
    width: 25%;
    background: linear-gradient(
45deg
,#91B3FA,#4345E7);
    border-radius: 3px;
    height: 34px;
    opacity: 1;
    color: white;
    text-transform: capitalize;
    border: none;
    font-size: 14px; 
}

.text-left{
    color: #fff;
}
.kff_row_1{
    padding-bottom:30px;
    width: 100%;
}

.kff_icon_cont i{
   color: #000;
   padding: 0px 6px;
   font-size: 14px;

}
.content-wrap{
    display: inline-flex;
    justify-content:center;
}
.content-box h5{
    color: #fff!important;
    font-family: sans-serif;
    margin-bottom: 18px;
}
.content-box h5 a{
    color: #fff;
}
.kff_icon_cont{
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(
45deg
,#91B3FA,#4345E7);
    margin-right: 13px;
    display: flex;
    width: 25px;
    margin-bottom: 18px;
    justify-content: center;
    align-items: center;
}
.content-box{
    padding-right: 60px;
}
.end-text p{
    color: #fff;
    text-align: end;
    margin: 0;
}
@media only screen  and (max-width:1230px){
    .kff_cont .kff_content{
        width: 100%;
        padding-left: 21px;
    }
    
}
@media only screen  and (max-width:1130px){
    .kff_input{
        width: 70%!important;
        margin: auto;
    }
}
@media only screen  and (max-width:1103px){
    .kff_btn{
        width: auto;
    }
}
@media only screen  and (max-width:1135px){
     .kff_input{
       width: 71%!important;
     }
}
@media only screen  and (max-width:1144px){
    .kff_input{
      width: 71%!important;
    }
}
@media only screen  and (max-width:990px){
    .kff_input{
        margin:0;
        margin-right: 15px;
    }
    .kff_col_box h3{
        margin-bottom: 21px;
    }
    .kff_cont_2{
        margin-bottom: 45px;
    }
    .kff_cont_4{
        margin: auto;
    }
    .kff_cont_1{
        width: 72%;
        margin: auto;
    }
}
@media only screen  and (max-width:495px){
    .kff_btn{
        width: 40%;
        height: 37px;
    }
    .kff_input{
        width: 100%!important;
        margin-bottom: 18px;
    }
    .kff_butt_p{
        font-size: 11px!important;
        width: max-content;
        margin: auto;
    }
}
@media only screen  and (max-width:320px){
    .kff_btn{
        width: 80%;
    }
    .kff_input::placeholder{
        font-size:11px!important;
        
    }
   
}
@media only screen  and (max-width:531px){
    .kff_butt_p{
        font-size: 10px;
    }
}
@media only screen  and (max-width:571px){
    .kaff_col_cont{
        margin-bottom: 45px;
    } 
    .kff_cont_4{
        margin: auto;
    }
}
@media only screen  and (max-width:879px){
    .kff_cont_3{
        width: auto;
    }
}
@media only screen  and (max-width:664px){
    .kff_row_2{
        margin: auto;
        width: auto;
    }
}
@media only screen  and (max-width:366px){
    .kff_input::placeholder{
        font-size: 13px;
    } 
}
@media only screen  and (max-width:517px){
    .content-box h5{
        font-size: inherit;
        text-align: center;
    }
    .content-box{
        padding: 0;
    }
    .content-wrap{
        justify-content: space-around;
    }
}